* { 
    color: #5e5e5e;
    font-family: 'Exo 2', 'Helvetica';
}

.navbar { 
    background: #fff;
    border: none;
}

.homeJumbo {
    padding-bottom:0px;
    margin-bottom:0px;
    background-image: url('../img/Polygon2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
    opacity: 0.8;
    text-align: center;
    color:#fff;
    
}

#image {
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 90px;
    border-radius: 125px;
    background-image: url("../img/rhys_howard.jpg");
}

.homeJumbo .h1 {
    margin-top: 30px;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555;
}

#intro{
    margin-top:30px;
    color: #fff;
    font-size: 1.4em;
    font-weight: 100;
}

.section {  
    background-color: #eaf1f1;
    padding: 4em 0 4em 0;
}

.alternate {
    background-color:#fff;
}

/*----------SECTION-INFO-----------------*/
.graph {
    margin-top: 50px;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
    height: 300px;
    margin-left: 100px;
}

#languages {
    text-align: center;
    
}
#languages > h3 { padding-bottom: 20px; }
#languages i { font-size: 100px; }

#js {
    background-color: #5e5e5e;
    width: 100px;
    height: 100px;
    margin: auto;
}
#js > span {
    font-size:50px;
    font-family:sans-serif;
    font-weight: bold;
    color:#eaf1f1;
    position: absolute;
    right: 98px;
    bottom: -10px;
}

#imageContainer {
    margin: auto;
    width: 100px;
    height: 100px;
}
#angular {
    background-image: url('../img/angular.png');
    position: absolute;
    top: 0;
    left: 33.33333%;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
}


/*------------RECENT-PROJECTS------------*/
.img-wrap {
    padding-top: 20px;
    width: 100%;
}

.img {
    width: 70%;
    float: left;
}

.img-alt {
    width: 70%;
    float: right;
}

.img-label {
    margin-top: -25px;
    padding-left: 20px;
    display: inline-block;
    width: 30%;
}
.img-label a { color: red;}

#AA {
    margin-top: 400px;
}



/*----------ASTEROID-ASSAULT-------------*/
canvas {
    /*position: absolute;
    top: 0px;
    left: 180px;*/
    margin: auto;
    background: transparent;
}